<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <h3>Ingresar al sistema</h3>
      <form #loginForm="ngForm" novalidate >
        <div class="group-form">
          <label for="username">Username:</label>
          <input type="text" placeholder="Username..." name="username" class="form-control" [(ngModel)]="user.username" 
          #username="ngModel" required maxlength="15" minlength="3">
          <div *ngIf="username.errors && username.touched" class="text-danger">
            Ingrese su nombre de usuario
        </div>
        </div>
        <div class="group-form">
          <label for="password">Password:</label>
          <input type="password" placeholder="Password..." name="password" class="form-control" [(ngModel)]="user.password" 
          #password="ngModel" required maxlength="15" minLength="3"> 
          <div *ngIf="password.invalid && password.touched" class="text-danger">
            Ingrese su password
        </div>
        </div>
        <hr>
        <div class="group-form">
          <button class="btn btn-primary" [disabled]="!password.valid || !username.valid" (click)="validate()">
            Ingresar</button>
        </div>
      </form>
      <div class="has-error" *ngIf="error">
        <p>Username incorrectos, password any</p>
        <a href="http://localhost:3000/users" target="_blank">Lista de usuarios</a>
      </div>
    </div>
  </div>
</div>